@model List<ServiceRendered>

@if (!string.IsNullOrEmpty((string)TempData["Message"]))
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

@if (Model == null || Model.All(sr => sr.Servicestatus == ServiceRendered.Status.Requested))
{
    <div class="alert alert-danger">
        There are no services rendered to you.
    </div>
}
else 
{
    <table class="table">
        <tr>
            <th>Status</th>
            <th>Date</th>
            <th>Number of hours</th>
        </tr>

        @foreach (ServiceRendered sr in Model)
        {
            <tr>
                <td>@sr.Servicestatus</td>
                @if (sr.Servicestatus != ServiceRendered.Status.Requested)
                {
                    <td>@sr.Date</td>
                    <td>@sr.NumberOfHours</td>
                    <td> <a asp-controller="ServiceRendered" asp-action="ValidateService" asp-route-id="@sr.Id">Validate the service</a></td>
                }
                else
                {
                    <td>Not Yet Rendered</td>
                    <td>Not Yet Rendered</td>
                }
            </tr>
        }
    </table>
}

