@model SafouaneAntoineService.ViewModels.ServiceDetailsViewModel

@if (Model.ServiceOffer != null && Model.ServiceOffer.Id > 0)
{
    <h1>Détails du service n° @Model.ServiceOffer.Id</h1>

    <table class="table">
        <tr>
            <td>Type</td>
            <td>Description</td>
            <td>Publié par</td>
            <td>Catégorie</td>
        </tr>
        <tr>
            <td>@Model.ServiceOffer.Type</td>
            <td>@Model.ServiceOffer.Description</td>
            <td>@Model.ServiceOffer.Provider.Firstname @Model.ServiceOffer.Provider.Lastname</td>
            <td>@Model.ServiceOffer.Category.Name</td>
            <td>
                @if (Model.CurrentUser != null && Model.CurrentUser.Id != Model.ServiceOffer.Provider.Id)
                {
                    <a asp-controller="ServiceOffer" asp-action="MakeARequest" asp-route-id="@Model.ServiceOffer.Id">Faire une demande</a>
                }
            </td>
        </tr>
    </table>
    <a class="btn" style="border: 3px solid black" asp-controller="ServiceOffer" asp-action="ViewServices">Return</a>
}
else
{
    <p>Aucun service trouvé.</p>
}


