@model List<ServiceOffer>﻿
@{
    ViewData["Title"] = "ManageOffers";
}
@if (!string.IsNullOrEmpty((string?)TempData["Message"]))
{
    <div class="alert alert-success">@TempData["Message"]</div>
}
<div class="d-flex justify-content-between align-items-center mb-3">
    <div class="text-center">
        <a class="btn" asp-controller="ServiceOffer" asp-action="PublishOffer">Publish Offer</a>
    </div>
</div>
<!-- List off offers START -->
<table class="table">
    <tr>
        <th>Type</th>
        <th>Description</th>
        <th>Category</th>
    </tr>
    @foreach (ServiceOffer offer in Model)
    {
        <tr>
            <td>@offer.Type</td>
            <td>@offer.Description</td>
            <td>@offer.Category.Name</td>
            <td><a class="btn btn-outline-secondary" asp-controller="ServiceRendered" asp-action="ViewRequests" asp-route-offer_id="@offer.Id">Requests</a></td>
            <td><a class="btn btn-outline-danger" asp-controller="ServiceOffer" asp-action="DeleteOffer" asp-route-id="@offer.Id">Delete</a></td>
        </tr>
    }
</table>
<a class="btn" style="border: 3px solid black" asp-controller="ServiceOffer" asp-action="ViewServices">Return</a>
<!-- List off offers END -->


