@model List<ServiceOffer>
@if (!string.IsNullOrEmpty((string)TempData["Message"]))
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<br />
<div class="d-flex justify-content-between align-items-center">
    <div>
        <a asp-controller="ServiceOffer" asp-action="ManageOffers" class="btn btn-primary mr-2">Manage your offers</a>
        <a asp-controller="ServiceRendered" asp-action="ViewProvidedServices" class="btn btn-primary mr-2">View the services rendered to you</a>
    </div>
</div>
<br />

<table class="table">
    <tr>
        <th>id</th>
        <th>Type</th>
        <th>Description</th>
    </tr>

    @foreach (ServiceOffer s in Model)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Type</td>
            <td>@s.Description</td>
            <td> <a asp-controller="ServiceOffer" asp-action="Details" asp-route-id="@s.Id">View details</a></td>
        </tr>
    }
</table>
